*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100px;
  background: black;
  color: magenta;
  font-family: 'Baskerville';
  font-size: 20px;
  font-style: italic;
  text-align: center;
  height: 400px;
}

.content {
  background: #bbb;
  padding: 0 200px;
  line-height: 2;
  font-size: 18px;
}
.footer {
  height: 200px;
}

.progress-bar-not-100 {
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, pink, magenta);
}

.progress-bar-100 {
  z-index: -1;
}

.progress-bar-100::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, pink, greenyellow);
  z-index: 1;
}
